%flx-df { display: flex }
%flx-if { display: inline-flex }

/* Flex direction */
%flx-d-r { flex-direction: row }
%flx-d-rr { flex-direction: row-reverse }
%flx-d-c { flex-direction: column }
%flx-d-cr { flex-direction: column-reverse }

/* Flex wrap */
%flx-w-n { flex-wrap: nowrap } /* Default */
%flx-w-w { flex-wrap: wrap }
%flx-w-r { flex-wrap: wrap-reverse }

/* Justify content */
%flx-j-fe { justify-content: flex-end }
%flx-j-fs { justify-content: flex-start }
%flx-j-c { justify-content: center }
%flx-j-sa { justify-content: space-around }
%flx-j-sb { justify-content: space-between }

/* Align items */
%flx-ai-fs { align-items: flex-start; }
%flx-ai-c { align-items: center; }
%flx-ai-fe { align-items: flex-end; }
%flx-ai-s  { align-items: stretch; }
%flx-ai-b  { align-items: baseline; }

/* Flex grow */
%flx-gr-0 { flex-grow: 0 }
%flx-gr-1  { flex-grow: 1 }

/* Flex shrink */
%flx-sh-0 { flex-shrink: 0 }
%flx-sh-1{ flex-shrink: 1 }

/* Flex basis */
%flx-bs-a { flex-basis: auto }
%flx-bs-0 { flex-basis: 0 }

/* Align self */
%flx-as-a  { align-self: auto; }
%flx-as-fs { align-self: flex-start; }
%flx-as-c { align-self: center; }
%flx-as-fe{ align-self: flex-end; }
%flx-as-s  { align-self: stretch; }
%flx-as-b  { align-self: baseline }
